.explosion {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: explosionAnimation 1s ease-out forwards;
  z-index: 100;

  .explosion-icon {
    width: 100%;
    height: 100%;
    // color: red;
  }
}

@keyframes explosionAnimation {
  0% {
    color:yellow;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    color:red;
    transform: scale(2);
    opacity: 0;
  }
}
